{% macro regression(group, title, reference=None) %}
    <tr>
        <td style="padding: 4px; border: 1px solid #000000;">{{ title }}</td>
        <td style="padding: 4px; border: 1px solid #000000;">{{ group.average }}
            {% if reference %}
                {% set sign = "+" if group.average >= reference.average else "-" %}
                <span style="color: #E12A33;">({{ "{}{:.2f} %".format(sign, ((group.average / reference.average) - 1) * 100) }})</span>
            {% endif %}
        </td>
        <td style="padding: 4px; border: 1px solid #000000;">{{ group.measurements|length }}</td>
        <td style="padding: 4px; border: 1px solid #000000;">{{ group.date.strftime("%d. %m. %Y %H:%M:%S") }}</td>
    </tr>
{% endmacro %}

Snailwatch has detected the following regressions in <b style="font-size: 1.2rem;">{{ project['name'] }}</b>:

{% for reg in regressions %}
    <div>
        <h3 style="margin-bottom: 4px;">Regression #{{ loop.index }} ({{ reg.view['name'] }}/{{ clean_key(reg.reference.key) }})</h3>
        (measurements are grouped by <i>{{ reg.trigger }}</i>)
        <table style="margin: 6px 0; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="padding: 4px; border: 1px solid #000000;">Group</th>
                    <th style="padding: 4px; border: 1px solid #000000;">Average value</th>
                    <th style="padding: 4px; border: 1px solid #000000;"># of measurements</th>
                    <th style="padding: 4px; border: 1px solid #000000;">First measurement</th>
                </tr>
            </thead>
            <tbody>
                {{ regression(reg.reference, 'Reference') }}
                {{ regression(reg.regressed, 'Regressed', reg.reference) }}
            </tbody>
        </table>
        {% if public_url %}
            <a href="{{ public_url.format(reg.view['_id']) }}" target="_blank" title="Display regression in dashboard">
                <button style="padding: .25rem .5rem; line-height: 1.5; border-radius: .2rem; background-color: #28A745; border: 1px solid transparent; color: #FFFFFF; cursor: pointer;">Go to dashboard</button>
            </a>
        {% endif %}
    </div>
{% endfor %}
